.form{
    min-width: 320px;
    max-width: 600px;

      .btns{
          text-align: right;
          .add{
            background: #00BCB4;
            border-radius: 5px;
            color:#fff
          }
      }


      .half-screen{
        width: 48%;
    }

}