.form {
  min-width: 320px;
  max-width: 600px;

  .btns-container {
    display: flex;

    .btns-right {
      width: 100%;
      justify-content: flex-start;
      .add {
        background: #00bcb4;
        border-radius: 5px;
        color: #fff;
      }
    }
    .btn-left {
      width: 100%;
      justify-content: flex-end;
      .btn {
        color: red;
      }
    }
  }

  .half-screen {
    width: 48%;
  }
}
